<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="CartPersistDay" value="10"></add>
    <add key="Google.ReCaptcha.Secret" value="6LcowVsUAAAAAKnA2i1-6l9rpExRN88d0_Fi4ajt" />
    <add key="ConnectionString" value="Data Source=.; Initial Catalog=SilverAkdenizDB;User ID=sa; Password=test;"/>
    <add key="Provider" value="System.Data.SqlClient"/>
    <add key="MailServerHost" value="smtp.gmail.com"/>
    <add key="MailUserName" value="akdenizsilver@gmail.com"/>
    <add key="ErrorMail" value="dursun1147@gmail.com"/>
    <add key="MailUserPassword" value="drsn4321"/>
    <add key="MailServerPort" value="587"/>
    <add key="ProductsPerPage" value="9"/>
    <add key="ProductDescriptionLenght" value="60"/>
    <add key="SiteName" value="Akdeniz Silver"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnect"
         connectionString="Data Source=.; Initial Catalog=SilverAkdenizDB;User ID=sa; Password=test;"
  providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="check_out.aspx">
    <system.web>
      <authorization>
        <allow roles="Users"/>
        <allow roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="user_info.aspx">
    <system.web>
      <authorization>
        <allow roles="Users"/>
        <deny roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="user_orders.aspx">
    <system.web>
      <authorization>
        <allow roles="Users"/>
        <deny roles="Admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <!--<sessionState
        mode="InProc"
        stateConnectionString="tcpip=127.0.0.1:42424"
        sqlConnectionString="DbConnect"
        cookieless="true"
        timeout="20">
    </sessionState>-->

    <pages enableEventValidation="false" />
    <authentication mode="Forms" >
      <forms loginUrl="login.aspx" path="~/" protection="All" timeout="60"></forms>
    </authentication>

    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add connectionStringName="DbConnect" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="true"
          applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
          passwordStrengthRegularExpression="" name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>

    <profile defaultProvider="AspNetSqlProfileProvider" >
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider"
        connectionStringName="DbConnect"
        applicationName="/"
        type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="IBAN" type="System.String"/>
        <add name="Phone" type="System.String"/>
        <add name="TCKN" type="System.String"/>
        <add name="Address" type="System.String"/>
      </properties>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="DbConnect" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>


    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>

    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="tr-TR"/>

    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="240" maxRequestLength="500000"/>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="akdenizsilver@gmail.com">
        <network
          host="smtp.gmail.com" 
          password="drsn4321" 
          port="587"
          userName="akdenizsilver" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>